<script src="{{ 'search-drawer.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'page-header.js' | asset_url }}" defer="defer"></script>

{% assign transparent_header_rgb = section.settings.transparent_header_color | color_to_rgb %}
<style>
    :root{
      --logo-width: {{ section.settings.mobile_screen_logo_width }}px;
      --logo-width-mobile: {{ section.settings.mobile_screen_logo_width }}px;
      --logo-width-desk: {{ section.settings.large_screen_logo_width }}px;
    }

    {% if transparent_header_rgb != 'rgba(0, 0, 0, 0.0)' %}
    header[id="shopify-section-{{ section.id }}"]{
      --color-transparent-header: {{ section.settings.transparent_header_color }};
    }
  {% endif %}
</style>

<page-header
  role="banner"
  id="header"
  class="
    wt-header
    {% if settings.always_mobile_navigation or section.settings.layout == 'option_3' or section.settings.layout == 'option_4' %}mobile-nav{% endif %}
    {% if section.settings.layout == 'option_1' %} wt-header--v1 wt-header--search{% endif %}
    {% if section.settings.layout == 'option_2' %} wt-header--v2{% endif %}
    {% if section.settings.layout == 'option_3' or section.settings.layout == 'option_4' %} wt-header--v3 wt-header--fashion{% endif %}
    {% if section.settings.layout == 'option_4' %} wt-header--transparent {% endif %}
    {% if section.settings.transparent_logo != blank %} wt-header--transparent-logo {% endif %}
    {% if section.settings.show_shadow %} wt-header--shadow{% endif %}
    {% if section.settings.show_line_separator %} wt-header--separator{% endif %}
    {% if section.settings.sticky_header %} wt-header--sticky{% endif %}
  "
  {% if section.settings.layout == 'option_3' or section.settings.layout == 'option_4' %}
    data-always-mobile-menu="true"
  {% endif %}
  {% if section.settings.layout == 'option_4' %}
    data-transparent="true"
  {% endif %}
  {% if section.settings.sticky_header %}
    data-sticky="true"
  {% endif %}
>
  <div
    class="
      {%- if section.settings.layout == 'option_1' -%}
          wt-header__body wt-header__body--search
      {%- else -%}
          wt-header__body
      {%- endif -%}
    "
  >
    {% if section.settings.layout == 'option_3' or section.settings.layout == 'option_4' %}
      <div class="wt-header__nav-teaser">
        <a
          href="#"
          class="wt-header__icon wt-header__menu-trigger wt-icon"
          rel="toggle-menu"
          aria-label="{{ 'aria-label.page-header-toggle-menu' | t }}"
          aria-controls="wt-drawer-nav"
          aria-expanded="false"
          data-open="false"
          role="button"
          tabindex="0"
        >
          {% render 'icons', id: 'bars' %}
        </a>

        {%- if section.settings.teaser_menu != blank -%}
          <ul class="wt-header__nav-teaser__list" tabindex="-1">
            {%- for link in section.settings.teaser_menu.links -%}
              {% if forloop.index <= 3 %}
                {% assign is_parent = false %}
                {% if link.links != blank %}
                  {% assign is_parent = true %}
                {% endif %}

                <li class="wt-header__nav-teaser__item {% if is_parent %}wt-header__nav-teaser__item--parent{% endif %}">
                  <a
                    href="{% if link.url %}{{ link.url }}{% else %}#{% endif %}"
                    class="wt-header__nav-teaser__link {% if is_parent %}wt-header__nav-teaser__link--parent{% endif %} {% if link.current %} wt-header__nav-teaser__link--active{% endif %}"
                    {% if link.current %}
                      aria-current="page"
                    {% endif %}
                  >
                    <span class="wt-header__nav-teaser__link-text wt-page-nav-mega__decorated">
                      {{- link.title | escape -}}
                    </span>
                  </a>
                </li>
              {% endif %}
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    {% endif %}

    <div class="wt-header__aside">
      {%- if section.settings.layout != 'option_1' -%}
        <a
          href="#"
          class="wt-header__icon wt-header__menu-trigger wt-icon"
          rel="toggle-menu"
          aria-label="{{ 'aria-label.page-header-toggle-menu' | t }}"
          aria-controls="wt-drawer-nav"
          aria-expanded="false"
          role="button"
        >
          {% render 'icons', id: 'bars' %}
        </a>
      {% endif %}
      {%- if section.settings.layout == 'option_2' and section.settings.sticky_header -%}
        <a
          href="#"
          class="wt-header__icon wt-header__sticky-menu-trigger wt-icon"
          rel="toggle-menu"
          aria-label="{{ 'aria-label.page-header-toggle-menu' | t }}"
        >
          {% render 'icons', id: 'bars' %}
          {% render 'icons', id: 'close' %}
        </a>
      {% endif %}
      <search-drawer
        class="wt-header__search wt-drawer-search"
        data-loading-text="{{ 'accessibility.searching' | t }}"
      >
        <div
          {% comment %}for="search-shop"{% endcomment %}
          class="wt-header__icon wt-header__search-trigger wt-icon"
          rel="toggle-search"
          tabindex="0"
          role="button"
          aria-label="{{ 'aria-label.page-header-open-search' | t }}"
        >
          {% render 'icons', id: 'search' %}
        </div>

        <form
          class="wt-header__search__body store-search-form"
          action="{{ routes.search_url }}"
          method="get"
          role="search"
        >
          <input type="hidden" name="type" value="product">

          <div class="wt-header__search__form">
            <label class="wt-header__icon wt-header__search__label" for="search-shop">
              {% render 'icons', id: 'search' %}
              <span class="visually-hidden">{{ 'aria-label.page-header-search' | t }}</span>
            </label>
            <input
              type="text"
              placeholder="{{ section.settings.typing_search }}"
              id="search-shop"
              name="q"
              class="wt-header__search__field"
              aria-controls="predictive-search-results-list"
              aria-autocomplete="list"
              aria-haspopup="listbox"
              aria-expanded="false"
              spellcheck="false"
              tabindex="-1"
              role="combobox"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              data-search="true"
              aria-label="{{ 'aria-label.page-header-search' | t }}"
            >

            <div class="wt-header__search__clear-button__container">
              <div
                class="wt-header__search__clear-button"
                role="button"
                aria-label="{{ 'aria-label.page-header-remove-all' | t }}"
                tabindex="-1"
              >
                {% render 'icons', id: 'close' -%}
                <span class="text">{{ 'aria-label.page-header-toggle-menu' | t }}</span>
              </div>
            </div>
            <button
              aria-label="{{ 'aria-label.page-header-search' | t }}"
              class="wt-header__search__button"
              tabindex="-1"
            >
              {% render 'icons', id: 'search' -%}
              <span class="text">{{ 'aria-label.page-header-search' | t }}</span>
            </button>
            <button
              aria-label="{{ 'aria-label.page-header-close-search' | t }}"
              class="wt-header__search__close"
              tabindex="-1"
            >
              {% render 'icons', id: 'close' %}
            </button>
          </div>
          <div class="wt-header__search__results">
            <div class="predictive-search-status">
              {% render 'search-top' %}
            </div>

            {% render 'loader' %}

            <div class="search-result-wrapper" data-predictive-search></div>
          </div>
        </form>
      </search-drawer>
    </div>

    {%- if section.settings.layout == 'option_1' and section.settings.sticky_header -%}
      <a
        href="#"
        class="wt-header__icon wt-header__sticky-menu-trigger  wt-header__sticky-menu-trigger--v1 wt-icon"
        rel="toggle-menu"
        role="button"
        aria-label="{{ 'aria-label.page-header-toggle-menu' | t }}"
        aria-controls="wt-drawer-nav"
        aria-expanded="false"
      >
        {% render 'icons', id: 'bars' %}
        {% render 'icons', id: 'close' %}
      </a>
    {% endif %}

    <h1 itemscope itemtype="http://schema.org/Organization" class="wt-header__logo">
      {%- if section.settings.layout == 'option_1' -%}
        <a
          href="#"
          class="wt-header__icon wt-header__menu-trigger wt-icon"
          rel="toggle-menu"
          aria-label="{{ 'aria-label.page-header-toggle-menu' | t }}"
        >
          {% render 'icons', id: 'bars' %}
        </a>
      {%- endif -%}

      <a
        href="{{ routes.root_url }}"
        class="wt-header__logo__link"
        style="
          {% if section.settings.logo %}
          --logo-width: {{ section.settings.mobile_screen_logo_width }}px;
          --logo-width-desk: {{ section.settings.large_screen_logo_width }}px;
          {% else %}
            --logo-width: auto;
            --logo-width-desk: auto;
          {% endif %}
        "
      >
        {%- if section.settings.logo != blank or section.settings.transparent_logo != blank -%}
          {% if section.settings.logo != blank %}
            {%- assign large_image_size = settings.large_screen_logo_width -%}
            {%- assign large_image_size_double = large_image_size | times: 2 -%}

            <img
              srcset="{{ section.settings.logo | image_url: width: large_image_size }} 1x, {{ section.settings.logo | image_url: width: large_image_size_double }} 2x"
              src="{{ section.settings.logo | image_url: width: large_image_size }}"
              loading="lazy"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              class="wt-header__logo__img"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >

            {%- assign mobile_image_size = section.settings.mobile_screen_logo_width -%}
            {%- assign mobile_image_size_double = mobile_image_size | times: 2 -%}
            <img
              srcset="{{ section.settings.logo | image_url: width: mobile_image_size }} 1x, {{ section.settings.logo | image_url: width: mobile_image_size_double }} 2x"
              src="{{ section.settings.logo | image_url: width: mobile_image_size }}"
              loading="lazy"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              class="wt-header__logo__img wt-header__logo__img--mobile"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >
          {% endif %}

          {% assign transp_logo = section.settings.transparent_logo %}
          {% if transp_logo != blank %}
            <img
              srcset="{{ transp_logo | image_url: width: large_image_size }} 1x, {{ transp_logo | image_url: width: large_image_size_double }} 2x"
              src="{{ transp_logo | image_url: width: large_image_size }}"
              loading="lazy"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              class="wt-header__logo__img wt-header__logo__img--transparent"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >
          {% endif %}
        {%- else -%}
          {{ shop.name }}
        {%- endif -%}
      </a>
    </h1>

    <ul class="wt-header__panel wt-header__panel--no-labels">
      <li class="wt-header__panel__item wt-header__panel__item--account">
        <a href="{{ routes.account_url }}" class="wt-header__panel__link wt-icon">
          {% render 'icons', id: 'user' %}
          <span class="wt-header__panel__label">Account</span>
        </a>
      </li>
      <li class="wt-header__panel__item wt-header__panel__item--cart">
        <a href="{{ routes.cart_url }}" class="wt-header__panel__link wt-icon wt-cart__trigger" id="cart-icon-bubble">
          {% render 'icons', id: 'bag' %}
          {% if cart.item_count != 0 %}
            <span class="wt-header__panel__counter">{{ cart.item_count }}</span>
          {% endif %}
          <span class="wt-header__panel__label">Cart</span>
        </a>
      </li>
    </ul>
    {% if section.settings.show_line_separator %}
      <div class="wt-header__spacer"></div>
    {% endif %}
  </div>
</page-header>

{%- if request.page_type != 'cart' -%}
  {%- render 'cart-notification' -%}
{%- endif -%}

<drawer-nav
  class="wt-drawer wt-drawer--nav{% if settings.always_mobile_navigation or section.settings.layout == 'option_3' or section.settings.layout == 'option_4' %} wt-drawer--mobile-nav{% endif %}"
  id="wt-drawer-nav"
>
  <div class="wt-drawer__content">
    <div class="wt-drawer__title">
      <div class="wt-drawer__title__text">{{ section.settings.drawer_title }}</div>
      <div
        class="wt-drawer__close"
        tabindex="-1"
        role="button"
        aria-label="{{ 'aria-label.page-header-toggle-menu' | t }}"
        aria-controls="wt-drawer-nav"
        aria-expanded="false"
      >
        {% render 'icons', id: 'close' %}
      </div>
    </div>

    <mega-menu-section class="mega-menu">
      <nav class="wt-page-nav-mega {% if section.settings.show_shadow %} wt-page-nav-mega--shadow{% endif %}">
        {%- if section.settings.menu != blank -%}
          {% render 'mega-menu', menu: section.settings.menu, blocks: section.blocks %}
        {%- endif -%}
        {% if section.settings.store_drawer %}
        <div class="store_drawer">
          <!-- Select Store Button -->
          <button id="selectStoreBtn">
            <div class="store_drawer__image">
              <svg height="64" viewBox="0 0 64 64" width="64" xmlns="http://www.w3.org/2000/svg"><g style="fill:none;stroke:#202020;stroke-miterlimit:10;stroke-width:2;stroke-linejoin:round;stroke-linecap:round"><path d="m36 36h12v22h-12z"></path><path d="m56 30v28h-48v-28"></path><path d="m16 36h14v12h-14z"></path><path d="m52.6 6h-41.2l-9.4 16.5a7.5 7.5 0 0 0 15 0 7.5 7.5 0 0 0 15 0 7.5 7.5 0 0 0 15 0 7.5 7.5 0 0 0 15 0zm-50.6 16h60m-30-16v16.5m-15 0 5-16.5m25 16.5-5-16.5"></path></g></svg>
            </div>
            <div class="store_drawer__text">
              <span class="store_drawer_subtext" data-store-title="">{{ section.settings.store_drawer_text }}</span>
              <span class="store_drawer_title">
                <span>{{ section.settings.store_drawer_text2 }}</span>
                <span class="icon"><svg width="13" height="8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.414.086 7.9 6.57 6.485 7.985 0 1.5 1.414.086Z" fill="#000"></path><path d="M12.985 1.515 6.5 8 5.085 6.586 11.571.101l1.414 1.414Z" fill="#000"></path></svg></span>
              </span>
            </div>
          </button>
          <!-- Dropdown Menu -->
          <div id="drawerdropdownMenu" style="display: none;">
            <h4 class="title">{{ section.settings.store_drawer_title }}</h4>
            <div id="mapContainer">
              {{ section.settings.drawer_map | raw }}
            </div>
            
            <div class="cta">
              <a class="hero__button--primary" href="{{ section.settings.drawer_button1_link }}">{{ section.settings.drawer_button1_label }}</a>
              <a class="hero__button--secondary" href="{{ section.settings.drawer_button2_link }}">{{ section.settings.drawer_button2_label }}</a>
            </div>
            {% if section.settings.drawer_img != blank %}
              <a class="drawer_img" href="{{ section.settings.drawer_img_link }}" target="_blank">
                <img src="{{ section.settings.drawer_img | img_url: 'master' }}" alt="{{ section.settings.drawer_img.alt }}" />
              </a>
            {% endif %}
          </div>

        </div>
        {% endif %}
      </nav>
      
      <aside class="wt-page-nav-mega__aside">
        <ul class="wt-page-nav-mega__aside-list">
          <li class="wt-page-nav-mega__aside-list__item">
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="wt-page-nav-mega__aside-list__link"
                tabindex="-1"
              >
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </a>
            {%- endif -%}
          </li>
          {%- for link in section.settings.mobile_footer_menu.links -%}
            <li class="wt-page-nav-mega__aside-list__item">
              <a
                href="{% if link.url %}{{ link.url }}{% else %}#{% endif %}"
                class="wt-page-nav-mega__aside-list__link"
                tabindex="-1"
              >
                {{- link.title | escape -}}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </aside>
    </mega-menu-section>
  </div>
</drawer-nav>
{% style %}
  {% if section.settings.store_drawer %}
    body:not(.mobile-nav) .wt-page-nav-mega {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body:not(.mobile-nav) .wt-page-nav-mega__list {
    max-width: 100%;
    margin: 0;
  }
  #drawerdropdownMenu .cta a:first-child {
    background: {{ section.settings.drawer_button1_bg_color }};
    color: #fff;
  }
  #drawerdropdownMenu .cta a:last-child {
    background: {{ section.settings.drawer_button2_bg_color }};
    color: #fff;
  }
  #drawerdropdownMenu .cta a:first-child:hover {
    background: {{ section.settings.drawer_button1_bg-hover_color }};
  }
  #drawerdropdownMenu .cta a:last-child:hover {
    background: {{ section.settings.drawer_button2_bg-hover_color }};
  }
    #drawerdropdownMenu {
    border: 1px solid var(--color-border);
    }
    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
      #drawerdropdownMenu {
        right: 0;
        left: unset;
        transform: translate(5%);
      }
    }
    @media screen and (max-width: 1199px) {
      body:not(.mobile-nav) .wt-page-nav-mega {
        display: block !important;
      }
    }
  {% endif %}}
{% endstyle %}
<script>
// JavaScript to toggle dropdown visibility
document.getElementById('selectStoreBtn').addEventListener('click', function() {
  var drawerdropdownMenu = document.getElementById('drawerdropdownMenu');
  
  // Toggle visibility of the dropdown
  if (drawerdropdownMenu.style.display === 'none' || drawerdropdownMenu.style.display === '') {
    drawerdropdownMenu.style.display = 'block';
  } else {
    drawerdropdownMenu.style.display = 'none';
  }
});
  // Hide the dropdown if clicked anywhere on the page except the button or dropdown itself
document.addEventListener('click', function(event) {
  // Check if the click target is not the button or the dropdown
  if (!selectStoreBtn.contains(event.target) && !drawerdropdownMenu.contains(event.target)) {
    drawerdropdownMenu.style.display = 'none';  // Hide the dropdown
  }
});
</script>
{% comment %}{% if section.settings.sticky_header %}{% endcomment %}
{% comment %}<script src="{{ 'page-header-sticky.js' | asset_url }}" defer="defer"></script>{% endcomment %}
{% comment %}{% endif %}{% endcomment %}

{% schema %}
{
  "name": "t:sections.header.name",
  "tag": "header",
  "class": "page-header",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "option_1",
          "label": "t:settings_schema.layout.settings.input_type__2_1.option_1.label"
        },
        {
          "value": "option_2",
          "label": "t:settings_schema.layout.settings.input_type__2_1.option_2.label"
        },
        {
          "value": "option_3",
          "label": "t:settings_schema.layout.settings.input_type__2_1.option_3.label"
        },
        {
          "value": "option_4",
          "label": "t:settings_schema.layout.settings.input_type__2_1.option_4.label"
        }
      ],
      "default": "option_3",
      "label": "t:settings_schema.layout.settings.input_type__2_1.label",
      "info": "t:settings_schema.layout.settings.input_type__2_1.info"
    },
    {
      "type": "checkbox",
      "id": "sticky_header",
      "default": false,
      "label": "t:settings_schema.layout.settings.sticky_header.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "label": "t:sections.header.settings.show_line_separator.label",
      "info": "t:sections.header.settings.show_line_separator.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_shadow",
      "label": "t:sections.header.settings.show_shadow.label",
      "info": "t:sections.header.settings.show_shadow.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:settings_schema.layout.settings.header_logo.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "large_screen_logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 120,
      "unit": "t:sections.header.settings.large_screen_logo_width.unit",
      "label": "t:sections.header.settings.large_screen_logo_width.label"
    },
    {
      "type": "range",
      "id": "mobile_screen_logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 90,
      "unit": "t:sections.header.settings.mobile_screen_logo_width.unit",
      "label": "t:sections.header.settings.mobile_screen_logo_width.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "link_list",
      "id": "teaser_menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.teaser_menu.label",
      "info": "t:sections.header.settings.teaser_menu.info"
    },
    {
      "type": "link_list",
      "id": "mobile_footer_menu",
      "label": "t:sections.header.settings.mobile_footer_menu.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.transparent_header.label",
      "info": "t:sections.header.settings.transparent_header.info"
    },
    {
      "type": "image_picker",
      "id": "transparent_logo",
      "label": "t:sections.header.settings.transparent_logo.label",
      "info": "t:sections.header.settings.transparent_logo.info"
    },
    {
      "type": "color",
      "id": "transparent_header_color",
      "label": "t:sections.header.settings.custom-color.label",
      "default": "transparent"
    },
    {
      "type": "header",
      "content": "Store Drawer"
    },
    {
      "type": "checkbox",
      "id": "store_drawer",
      "label": "Show Store Drawer",
      "default": true
    },
    {
      "type": "text",
      "id": "store_drawer_text",
      "label": "Store Drawer Text"
    },
    {
      "type": "text",
      "id": "store_drawer_text2",
      "label": "Store Drawer Text 2",
      "default": "Select store"
    },
    {
      "type": "text",
      "id": "store_drawer_title",
      "label": "Store Drawer Title"
    },
    {
      "type": "textarea",
      "id": "drawer_map",
      "label": "Enter Map Iframe Code",
      "default": "<iframe src='https://www.example.com' width='100%' height='400'></iframe>",
      "info": "Paste the iframe code for your map here."
    },
    {
      "id": "drawer_button1_label",
      "type": "text",
      "label": "Button 1 Text"
    },
    {
      "type": "url",
      "id": "drawer_button1_link",
      "label": "Button 1 Link"
    },
    {
      "type": "color",
      "id": "drawer_button1_bg_color",
      "label": "Button 1 Background",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "drawer_button1_bg-hover_color",
      "label": "Button 1 Background Hover",
      "default": "transparent"
    },
    {
      "id": "drawer_button2_label",
      "type": "text",
      "label": "Button 2 Text"
    },
    {
      "type": "url",
      "id": "drawer_button2_link",
      "label": "Button 2 Link"
    },
    {
      "type": "color",
      "id": "drawer_button2_bg_color",
      "label": "Button 2 Background",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "drawer_button2_bg-hover_color",
      "label": "Button 2 Background Hover",
      "default": "transparent"
    },
    {
      "type": "image_picker",
      "id": "drawer_img",
      "label": "Promotion Image"
    },
    {
      "type": "url",
      "id": "drawer_img_link",
      "label": "Promotion Image Link"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.drawer.label"
    },
    {
      "type": "text",
      "id": "drawer_title",
      "label": "t:sections.header.settings.drawer_title.label",
      "info": "t:sections.header.settings.drawer_title.info",
      "default": "Shop by"
    },
    {
      "type": "header",
      "content": "t:sections.global.search"
    },
    {
      "type": "text",
      "id": "typing_search",
      "label": "t:sections.header.settings.typing_search.label"
    },
    {
      "type": "text",
      "id": "suggestions_title",
      "label": "t:sections.header.settings.suggestions_title.label",
      "info": "t:sections.header.settings.suggestions_title.info"
    },
    {
      "type": "link_list",
      "id": "suggestions_menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.suggestions_menu.label",
      "info": "t:sections.header.settings.suggestions_menu.info"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.header.blocks.column.name",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "t:sections.header.blocks.column.settings.menu_item.label",
          "info": "t:sections.header.blocks.column.settings.menu_item.info"
        },
        {
          "type": "range",
          "id": "promo_section_width",
          "min": 2,
          "max": 6,
          "step": 1,
          "default": 4,
          "label": "t:sections.header.blocks.column.settings.reserved_columns.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.image_1"
        },
        {
          "type": "image_picker",
          "id": "desktop_image_1",
          "label": "t:sections.settings.settings.image.label",
          "info": "t:sections.settings.settings.image.info"
        },
        {
          "id": "heading_1",
          "type": "text",
          "label": "t:sections.settings.settings.heading.label"
        },
        {
          "id": "text_1",
          "type": "text",
          "label": "t:sections.settings.settings.text.label"
        },
        {
          "id": "link_1",
          "type": "url",
          "label": "t:sections.settings.settings.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.image_2"
        },
        {
          "type": "image_picker",
          "id": "desktop_image_2",
          "label": "t:sections.settings.settings.image.label",
          "info": "t:sections.settings.settings.image.info"
        },
        {
          "id": "heading_2",
          "type": "text",
          "label": "t:sections.settings.settings.heading.label"
        },
        {
          "id": "text_2",
          "type": "text",
          "label": "t:sections.settings.settings.text.label"
        },
        {
          "id": "link_2",
          "type": "url",
          "label": "t:sections.settings.settings.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.image_3"
        },
        {
          "type": "image_picker",
          "id": "desktop_image_3",
          "label": "t:sections.settings.settings.image.label",
          "info": "t:sections.settings.settings.image.info"
        },
        {
          "id": "heading_3",
          "type": "text",
          "label": "t:sections.settings.settings.heading.label"
        },
        {
          "id": "text_3",
          "type": "text",
          "label": "t:sections.settings.settings.text.label"
        },
        {
          "id": "link_3",
          "type": "url",
          "label": "t:sections.settings.settings.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.image_4"
        },
        {
          "type": "image_picker",
          "id": "desktop_image_4",
          "label": "t:sections.settings.settings.image.label",
          "info": "t:sections.settings.settings.image.info"
        },
        {
          "id": "heading_4",
          "type": "text",
          "label": "t:sections.settings.settings.heading.label"
        },
        {
          "id": "text_4",
          "type": "text",
          "label": "t:sections.settings.settings.text.label"
        },
        {
          "id": "link_4",
          "type": "url",
          "label": "t:sections.settings.settings.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.image_5"
        },
        {
          "type": "image_picker",
          "id": "desktop_image_5",
          "label": "t:sections.settings.settings.image.label",
          "info": "t:sections.settings.settings.image.info"
        },
        {
          "id": "heading_5",
          "type": "text",
          "label": "t:sections.settings.settings.heading.label"
        },
        {
          "id": "text_5",
          "type": "text",
          "label": "t:sections.settings.settings.text.label"
        },
        {
          "id": "link_5",
          "type": "url",
          "label": "t:sections.settings.settings.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.image_6"
        },
        {
          "type": "image_picker",
          "id": "desktop_image_6",
          "label": "t:sections.settings.settings.image.label",
          "info": "t:sections.settings.settings.image.info"
        },
        {
          "id": "heading_6",
          "type": "text",
          "label": "t:sections.settings.settings.heading.label"
        },
        {
          "id": "text_6",
          "type": "text",
          "label": "t:sections.settings.settings.text.label"
        },
        {
          "id": "link_6",
          "type": "url",
          "label": "t:sections.settings.settings.link.label"
        }
      ]
    }
  ]
}
{% endschema %}
